{% load static %}

<!DOCTYPE html>
<html>

<head>

    {% block css_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
    {% endblock %}

    {% block js_block %}


    {% endblock js_block %}

    <title>Slideshow</title>

    <link rel="icon" type="image/x-icon" href="{% static 'OGS_logoB2_RGB.png' %}">


</head>

<body>

    <div class="container">

        <div class="firstRow">
            <img src="{% static 'OGS_logoB1_RGB_W.png' %}" alt="OGS Logo" class="logo">
        </div>

        <div class="secondRow">
            <div class="toCenter">
                <p class="title"><b><i>OGS's CHAIN MONITORING WEB TOOL</i></b></p>
            </div>

            <div class="toCenter">
                <p class="subTitle"><b>Watching today's chain status: 22/01/2025</b></p>
            </div>
        </div>

        <div class="content">

            <div class="toCenter">

                <div class="chain">

                    <div class="headerChain">
                        <h1 class="titleChain">CHAIN: 001</h1>

                        <h2 class="runningChain">currently running phase: B2 (48%)</h2>
                    </div>

                    <div class="contentChain">

                        <div class="progressChain done">

                            <h1 class="phase">GET</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">A1</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">B1</h1>

                        </div>

                        <div class="progressChain failed">

                            <h1 class="phase">B2</h1>

                        </div>

                        <div class="progressChain">

                            <h1 class="phase">C1</h1>

                        </div>

                        <div class="progressChain">

                            <h1 class="phase">C2</h1>

                        </div>

                        <div class="progressChain">

                            <h1 class="phase">C3</h1>

                        </div>

                        <div class="progressChain">

                            <h1 class="phase">C4</h1>

                        </div>

                    </div>

                    <div class="footerChain">

                        <p class="footerChain">Last error: B2 failed due to a network issue</p>
                    </div>


                </div>

            </div>



            <div class="toCenter">

                <div class="chain">

                    <div class="headerChain">
                        <h1 class="titleChain">CHAIN: 002</h1>

                        <h2 class="runningChain">currently running phase: C3 (84%)</h2>
                    </div>

                    <div class="contentChain">

                        <div class="progressChain done">

                            <h1 class="phase">GET</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">A1</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">B1</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">B2</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">C1</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">C2</h1>

                        </div>

                        <div class="progressChain inProgress">

                            <h1 class="phase">C3</h1>

                        </div>

                        <div class="progressChain">

                            <h1 class="phase">C4</h1>

                        </div>

                    </div>

                    <div class="footerChain">

                        <p class="footerChain">Currently there aren't any errors</p>
                    </div>


                </div>

            </div>

            <div class="toCenter">

                <div class="chain">

                    <div class="headerChain">
                        <h1 class="titleChain">CHAIN: 003</h1>

                        <h2 class="runningChain">currently running phase: C4 (100%)</h2>
                    </div>

                    <div class="contentChain">

                        <div class="progressChain done">

                            <h1 class="phase">GET</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">A1</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">B1</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">B2</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">C1</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">C2</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">C3</h1>

                        </div>

                        <div class="progressChain done">

                            <h1 class="phase">C4</h1>

                        </div>

                    </div>

                    <div class="footerChain">

                        <p class="footerChain">Currently there aren't any errors</p>
                    </div>


                </div>

            </div>

        </div>

    </div>

    </div>

    <div class="footer">
        <div class="contentFooter">
            <p class="contentFooter">© 2025 OGS</p>
        </div>
    </div>

</body>


</html>