{% load static %}

<!DOCTYPE html>
<html>

<head>

    {% block css_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
    {% endblock %}

    {% block js_block %}
    <script src="{%static 'script.js'%}"></script>
    {% endblock js_block %}

    <title>Slideshow</title>

    <link rel="icon" type="image/x-icon" href="{% static 'OGS_logoB2_RGB.png' %}">


</head>

<body>

    <div class="container">

        <div class="firstRow">
            <img src="{% static 'OGS_logoB1_RGB_W.png' %}" alt="OGS Logo" class="logo">
        </div>

        <div class="secondRow">
            <div class="toCenter">
                <p class="title"><b><i>OGS's CHAIN MONITORING WEB TOOL</i></b></p>
            </div>

            <div class="toCenter">
                <p class="subTitle"><b id="date"></b></p>
            </div>
        </div>

        <div class="content" id="contentPage">

        </div> 

    </div>

    </div>

    <div class="footer">
        <div class="contentFooter">
            <p class="contentFooter" id="footerOGS"></p>
        </div>
    </div>

</body>


</html>